body {
	overflow-x: hidden;
}

.l-mainHeader-img {
	background: url("/img/mockup2.jpg");
	background-size: cover;
	width: 100% !important;
	height: 100%;
	background-position: center center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
}

#l-mainHeader {
	height: 100vh;
	background: transparent;
	padding-left: 0 !important;
	padding-right: 0 !important;
	padding-top: 0 !important;
	margin-bottom: 0;
}

.l-mainHeader-title-wrap {
	width: 100% !important;
	display: flex;
	padding: 20px;
	background: #efefef;
	color: #333;
}

.l-mainHeader-title {
	width: 1200px;
	margin: 0.67em auto;
}

nav#sticky-nav.sticky-nav-active {
	position: fixed;
	top: 0;
}

nav#sticky-nav {
	width: 100%;
	background: #efefef;
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	margin-bottom: var(--xxxl);
}

.sticky-nav-content {
	max-width: 1200px;
	margin: 0.67em auto;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(140px, auto));
}

.sticky-nav-logo {
	font-size: var(--fontsize-xxl);
	cursor: pointer;
}

.sticky-nav-menu {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(auto, 140px));
	justify-content: end;
	justify-items: end;
}

.sticky-nav-menu a {
	border-bottom: 0 !important;
	align-items: center;
	display: flex;
	text-align: right;
}

.content-item {
	border-top: 0 !important;
}

.sticky-nav-submenu {
	position: absolute;
	background: #efefef;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
	padding: var(--s);
	border-radius: 4px;
	top: 36px;
	right: auto;
	min-width: 150px;
	left: auto;
	display: none;
}

.sticky-nav-submenu-wrap {
	align-items: center;
	display: flex;
	transform: translate3d(0, 0, 0);
}

.sticky-nav-submenu a:nth-child(n + 2) {
	margin-top: var(--s);
}
